@import './variables';

@mixin space($n, $direction: null) {
    $space_value: $unit * $n;

    @if $direction == null {
        margin: $space_value;
    } @else if $direction == top {
        margin-top: $space_value;
    } @else if $direction == bottom {
        margin-bottom: $space_value;
    } @else if $direction == right {
        margin-right: $space_value;
    } @else {
        margin-left: $space_value;
    }
}

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
