@import '../core/styles/variables';
@import '../core/styles/mixins';
@import '../core/styles/colors';

:host {
    display: block;
}

.container {
    @include space(10, top);
}

.form {
    display: flex;
    flex-direction: column;
}

.registration-button {
    color: $text-white;
}
