@import '../../../core/styles/variables';
@import '../../../core/styles/colors';

:host {
    display: block;
}

.add-icon {
    position: fixed;
    bottom: $unit * 4;
    right: $unit * 4;
    color: $text-white;
}
