<ess-inner-toolbar></ess-inner-toolbar>

<ess-cards-list
    title="Доступные поля"
    [items]="fields$ | async"
    [cardHeader]="cardHeader"
    [cardContent]="cardContent"
    (editItem)="onEditField($event)"
>
</ess-cards-list>

<ng-template #cardHeader let-field>{{ field.name }}</ng-template>
<ng-template #cardContent let-field>
    <mat-list>
        <mat-list-item>Тип поля - {{ field.type }}</mat-list-item>
        <mat-list-item>
            Создано - {{ field.createdAt }} {{ field.createdBy }}
        </mat-list-item>
    </mat-list>
</ng-template>

<button class="add-icon" mat-fab (click)="onCreateField()">
    <mat-icon>plus_one</mat-icon>
</button>
