<ess-inner-toolbar></ess-inner-toolbar>

<ess-cards-list
    title="Доступные валидаторы"
    [items]="validators$ | async"
    [cardHeader]="cardHeader"
    [cardContent]="cardContent"
    (editItem)="onEditValidator($event)"
></ess-cards-list>

<ng-template #cardHeader>Валидатор</ng-template>
<ng-template #cardContent let-item>
    <mat-list>
        <mat-list-item>Тип поля - {{ item.rule }}</mat-list-item>
        <mat-list-item>Данные валидатора - {{ item.payload }}</mat-list-item>
        <mat-list-item>
            Создано - {{ item.createdAt | date }} {{ item.createdBy }}
        </mat-list-item>
    </mat-list>
</ng-template>

<button class="add-icon" mat-fab (click)="onCreateValidator()">
    <mat-icon>plus_one</mat-icon>
</button>
